body {
    display: flex;
    margin: 0;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.navbar {
    background-color: royalblue;
    min-height: 100vh;
    width: 200px;
}
.main {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.input {
    display: flex;
    background-color: lightblue;
    min-height: 20vh;
    position: sticky;
    bottom: 0;
}
.blue {
    background-color: blue;
}
.message {
    background-color: pink;
    color: black;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    margin: 10px;
    align-self: flex-end;
}
.ai-answer {
    align-self: flex-start;
    background-color: palegreen;
}
#messageInput {
    width: 100%;
}