body {
        display: flex;
        margin: 0;
    }

.main-wrapper {
        display: flex;
        width: 100%;        
        flex-direction: column;
    }

.navbar {
        background-color: red;
        min-height: 100vh;
        width: 200px;
    }

.main {
        background-color: blue;
        height: 100%;
        width: 100%;
        
    }

.input {
        background-color: #afafaf;
        height: 100px;
        
    }

.tasks {
        width: 150px;
    }
   
input[type="text"] {
    height: 40px;
    width: 70%;
    border-radius: 6px;
    padding-left: 4px;
    border: 1px solid #ccc;
    transition: 0.5s;
    outline: none;
    margin-left: 25px;
    align-self: center;
    }

input[type="text"]:hover {     
        transition: all 0.5s ease;
        box-shadow: 0 0 5px #2966e7;
    }

input[type="text"]:focus {
        border: 1px solid #2966e7;
    }

    .btn {
        margin: 0px 20px;
        height: 40px;
        width: 100px;
        border-radius: 10px;
    }