body {
  display: flex;
  margin: 0;
}

p {
  margin: 20px 20px 20px;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.navbar {
  background-color: #000000;
  min-height: 100vh;
  width: 200px;
  color: #ffffff;
}

.main {
  background-color: #252525;
  height: 100%;
  width: 100%;
}

.input {
  background-color: #252525;
  height: 100px;
  display: flex;
}

.tasks {
  width: 150px;
}

.btn {
  margin: 25px 25px 25px 0px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.txtArea {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  padding-left: 4px;
  border: 1px solid #ccc;
  transition: 0.5s;
  outline: none;
  margin: 25px;
  align-self: center;
  resize: none;
}

.txtArea:hover {
  transition: all 0.5s ease;
  box-shadow: 0 0 5px #2966e7;
}

.txtArea:focus {
  border: 1px solid #2966e7;
}

.userTxtDiv {
  background-color: #3d3d3d;
  display: flex;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  margin: 20px;
  width: max-content;
  justify-self: right;
}
