body {
        display: flex;
        margin: 0;
    }

.main-wrapper {
        display: flex;
        width: 100%;        
        flex-direction: column;
    }

.navbar {
        background-color: red;
        min-height: 100vh;
        width: 200px;
    }

.main {
        background-color: #d3d2d2;
        height: 100%;
        width: 100%;
        
    }

.input {
        background-color: #afafaf;
        height: 100px;
        
        
    }

.tasks {
        width: 150px;
    }

.btn {
        margin: 25px 25px 25px 0px;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        
    }

.txtDiv {
        display: flex;
    }

.txtArea {
        height: 40px;
        width: 100%;
        border-radius: 6px;
        padding-left: 4px;
        border: 1px solid #ccc;
        transition: 0.5s;
        outline: none;
        margin: 25px;
        align-self: center;
        resize: none;
}

.txtArea:hover {     
        transition: all 0.5s ease;
        box-shadow: 0 0 5px #2966e7;
    }

.txtArea:focus {
        border: 1px solid #2966e7;
    }

.userTxtDiv {
    background-color: #c200fd;
    display: flex;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    right: 150px;
    margin: 20px;
    
}
   
