/* RESET */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  background-color: #252525;
  font-family: Arial, sans-serif;
  color: white;
}

/* TEXTS */
p {
  margin: 1rem;
}

/* MAIN WRAPPER */
.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  background-color: #000;
  min-height: 100vh;
  width: 200px;
  min-width: 200px;
  padding: 1rem;
  flex-shrink: 0;
}

/* MAIN CONTENT */
.main {
  background-color: #252525;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 120px; /* AVOID TEXTAREA TO HIDDEN */
}

/* INPUT SECTION */
.input {
  background-color: #252525;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: calc(100% - 200px); /* make container use all width minus 200px. I used this because the side have 200px */
  border-top: 1px solid #444;
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}

/* TEXTAREA */
.txt-area {
  flex: 1;
  min-height: 40px;
  max-height: 150px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #1e1e1e;
  padding: 10px;
  color: white;
  resize: vertical;
  outline: none;
  transition: 0.3s;
}

.txt-area:hover {
  box-shadow: 0 0 5px #2966e7;
}

.txt-area:focus {
  border: 1px solid #2966e7;
}

/* MESSAGES */
.user-txt-div,
.ai-div {
  background-color: #3d3d3d;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.8rem 1.2rem;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.user-txt-div {
  align-self: flex-end;
  text-align: right;
}

.ai-div {
  align-self: flex-start;
}

/* SPINNER */
.spinner {
  width: 28px;
  height: 28px;
  border: 4px solid #ddd;
  border-top-color: #252525;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* RESPONSIVENESS */
@media (max-width: 900px) {
  .navbar {
    position: fixed;
    width: 100%;
    min-width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  body {
    flex-direction: column;
  }

  .main-wrapper {
    margin-top: 60px;
  }

  .input {
    width: 100%;
    left: 0;
  }

  .main {
    padding-bottom: 150px;
  }
}


.chat-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #111;
  margin-bottom: 8px;
}

.chat-item:hover {
  background-color: #222;
}